*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(lightgrey, rgb(150, 150, 150));
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 384px;
    height: 384px;
    background-color: white;
    font-family: "Segoe UI";
    font-size: 128px;
    color: white;
    border-radius: 10%;
    overflow: hidden;
}

.mainframe {
    margin: auto;
    display: flex;
    gap: 24px;
}

.controls {
    position: relative;
    max-height: 384px;
}

.controls-actions > * {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.controls-actions {
    position: relative;
    bottom: 125px;
    overflow: auto;
}

.controls-body {
    position: relative;
    background-color: rgb(218, 219, 209);
    min-height: 84px; /* retarded i know */
    max-height: 84px;
}

.controls-top,
.controls-bottom {
    min-height: 150px; /* border.. */
    min-width: 150px;
    background-color: rgb(218, 219, 209);
}

.controls-top {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.controls-bottom {  
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.box {
    flex: 1;
}