/* bro doesnt know (literally) what is responsive design so 
*  he decided to hardcode every fucking
*  unit to fuck himself up in the future! 💀 */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --border-color: 8px solid rgb(144, 59, 175);
    --controls-background: rgb(101, 0, 129);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgb(33, 0, 60), rgb(5, 0, 9));
    height: 100vh;
    font-family: monospace, system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

button {
    background-color: rgb(144, 59, 175);
    border: 2px solid rgb(144, 59, 175);
    color: blanchedalmond;
    padding: 8px;
    border-radius: 5%;
    font-family: monospace, system-ui, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    width: 70%;
}

button:hover {
    background-color: rgb(167, 68, 203);
    border: 2px solid rgb(167, 68, 203);
}

button:active {
    background-color: rgb(193, 80, 234);
    border: 2px solid rgb(193, 80, 234);
}

.bg {
    position: fixed;
    width: 85vw;
    top: 12vh;
    opacity: 0.1;
    transform: rotate(90deg);
    z-index: -1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: white;
    font-family: "Segoe UI";
    font-size: 128px;
    font-weight: lighter;
    color: white;
    overflow: hidden;
    border: var(--border-color);
}

.mainframe {
    margin: auto;
    display: flex;
    gap: 24px;
}

.controls {
    position: relative;
    max-height: 400px;
}

.controls-actions > * {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.controls-actions {
    position: relative;
    bottom: 125px;
    overflow: auto;
}

.controls-body {
    position: relative;
    background-color: var(--controls-background);
    min-height: 100px; /* retarded i know */
    max-height: 100px;
    border-left: var(--border-color);
    border-right: var(--border-color);
}

.controls-top,
.controls-bottom {
    min-height: 150px; /* border.. */
    min-width: 150px;
    background-color: var(--controls-background);
    border-left: var(--border-color);
    border-right: var(--border-color);
}

.controls-top {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-top: var(--border-color);
}

.controls-bottom {  
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom: var(--border-color);
}

.brr-div,
.color-pick-div {
    background-color: rgb(124, 51, 150);
}

.brr-div > *,
.color-pick-div > * {
    margin: auto;
}

.color-pick-div {
    padding-bottom: 8px;
}

#color-picker {
    margin-left: 30%; /* margin auto doesnt do shit. why? */
}

#border-radius-range {
    margin-left: 2px;
}

label {
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 8px;
    width: 70%;
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.box {
    flex: 1;
}